
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_LayoutSignUp.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/SignUp.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="form-title">Sign Up</h1>
        <br>
        <form action="#">
            <div class="main-user-info">
                <div class="user-input-box">
                    <label for="First Name">First Name</label>
                    <input type="text" placeholder="Enter First Name" required>
                </div>
                <div class="user-input-box">
                    <label for="Last Name">Last Name</label>
                    <input type="text" placeholder="Enter Last Name" required>
                </div>
                <div class="user-input-box">
                    <label for="Username">Username</label>
                    <input type="text" placeholder="Enter Username" required>
                </div>
                <div class="user-input-box">
                    <label for="Password">Password</label>
                    <input type="password" placeholder="Enter Password" required>
                </div>
                <div class="user-input-box">
                    <label for="Confirm Password">Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" required>
                </div>
                <div class="user-input-box">
                    <label for="Email">Email</label>
                    <input type="text" placeholder="Enter Email" required>
                </div>
                <div class="user-input-box">
                    <label for="Phone Number">Phone Number</label>
                    <input type="text" placeholder="Enter Phone Number" required>
                </div>
                <div class="gender-details-box">
                    <span class="gender-tile">Gender</span>
                    <div class="gender-category">
                        <input type="radio" id="Male" name="Gender" value="Male">
                        <label for="Male">Male</label>
                        <input type="radio" id="Female" name="Gender" value="Female">
                        <label for="Female">Female</label>
                        <input type="radio" id="Other" name="Gender" value="Other">
                        <label for="Other">Other</label>
                    </div>
                </div>
                <div class="form-submit-btn">
                    <input type="submit" value="Sign Up">
                </div>
            </div>
        </form>
    </div>
</body>
</html>

