@model IEnumerable<AkaneFoodie.Models.Recipe>
@foreach (var recipe in Model)
{
    <div class="col-sm-4-md-4 col-lg-4 col-xl-4 mb-3">
        <div class="shadow rounded p-2">
            <div class="card dishCard" style="font-family: 'Lobster', cursive;">
                <img src="@recipe.Image_url" class="card-img-top h-50" />
                <div class="card-body">
                    <p class="card-title">@recipe.Title</p>
                    <div>
                        <a href="/Recipe/Order?=id@recipe.Id" class="btn btn-sm btn-primary p-2">Order</a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
}