
<div class="shadow rounded">
    <div class="p-2">
        <form autocomplete="off">
            <div class="mb-2 row">
                <div class="col-9 text-center ui-widget p-3">
                    <input type="text" id="tags" placeholder="Search Recipe" class="form-control" name="recipe" />
                </div>
                <div class="col-3 p-3">
                    <button type="submit" class="btn-sm btn-success p-2">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        var availableTags = [
            "Pizza", 
            "Cake",
            "Salami",
            "Sushi",
            "Lasagna",
            "Pork",
            "Chicken",
            "Bacon",
            "Curry",
            "Donuts",
            "Parma Ham",
            "Fish",
            "Salad"
        ];
        $("#tags").autocomplete({
            source: availableTags
        });
    });
</script>